header {
    display: flex;
    flex: row;
    gap: 10%;
    top: 0;
    height: 13%;
    width: 100%;
    max-width: 100%;
    position: fixed;
    background-color: #151515;
    z-index: 999;
    justify-content: center;
    text-align: center;
    align-items: center;

    font-family: 'Shadows Into Light', cursive;
    font-size: 150%;
    font-weight: 900;

    #divUser {
        display: flex;
        flex-direction: row;
        gap: 2%;

        #nameUser {
            color: white;
        }

        .withImg {
            margin: auto;
            border-radius: 50%;
            width: 60px;
            height: 60px;
        }

        .noImg {
            max-width: 50px;
            max-height: 50px;
        }
    }
}