body {
    margin: 0;
    height: 100%;
    background-color: #e4e8eb;

    #PageHome {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

        header {
            display: flex;
            flex: row;
            gap: 15%;
            top: 0;
            height: 10%;
            width: 100%;
            position: fixed;
            background-color: black;
            z-index: 999;
            justify-content: center;
            text-align: center;
            align-items: center;

            a {
                text-decoration: none;
                color: white;
            }
        }

        main {
            width: 60%;
            height: 100%;
            justify-content: center;
            text-align: center;
            margin: 5% auto auto auto;

            .divTitle {
                width: 100%;
                background: linear-gradient(to right, #E4E8EB , #9fa3a6, #E4E8EB);
                margin: 5% 0 5% 0;
            }

            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: gray;
                margin: 10% auto 0 auto;
            }
        }

        footer {
            display: flex;
            flex: row;
            gap: 10%;
            padding: 2% 0 2% 0;
            bottom: 0;
            position: relative;
            width: 100%;
            height: 100px;
            text-align: center;
            align-items: center;
            justify-content: center;
    
            a {
                text-decoration: none;
                color: black;
                border-radius: 50px;
                border-style: solid;
                border-width: 1px;
                padding: 10px;
                font-size: 110%;
                border-color: transparent;

                &:hover {
                    border-color: black;
                    box-shadow: 0 0 0.5em black;
                }
            }
        }
    }
}