USE [master]
GO
/****** Object:  Database [DBProva]    Script Date: 04/05/2021 10:42:51 ******/
CREATE DATABASE [DBProva]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBProva', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBProva.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBProva_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\DBProva_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBProva].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBProva]
GO
/****** Object:  Table [dbo].[CONTATOS]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTATOS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NOME] [varchar](50) NOT NULL,
	[EMAIL] [varchar](50) NOT NULL,
	[CEL] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[spBuscarContato]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarContato]

	@NOME VARCHAR (50),
		@EMAIL VARCHAR (50),
			@CEL VARCHAR (50),
				@MSG VARCHAR(50) OUTPUT

AS
BEGIN

	IF EXISTS (SELECT * FROM CONTATOS WHERE NOME = @NOME AND EMAIL = @EMAIL AND CEL = @CEL)
		BEGIN
			SELECT * FROM CONTATOS WHERE NOME = @NOME AND EMAIL = @EMAIL AND CEL = @CEL
		RETURN
	END

	ELSE IF EXISTS (SELECT * FROM CONTATOS WHERE NOME = @NOME AND EMAIL = @EMAIL OR NOME = @NOME AND CEL = @CEL OR EMAIL = @EMAIL AND CEL = @CEL)
		BEGIN
			SELECT * FROM CONTATOS WHERE NOME = @NOME AND EMAIL = @EMAIL OR NOME = @NOME AND CEL = @CEL OR EMAIL = @EMAIL AND CEL = @CEL
		RETURN
	END

	ELSE IF EXISTS (SELECT * FROM CONTATOS WHERE NOME = @NOME OR EMAIL = @EMAIL OR CEL = @CEL)
		BEGIN
			SELECT * FROM CONTATOS WHERE NOME = @NOME OR EMAIL = @EMAIL OR CEL = @CEL
		RETURN
	END

	ELSE
		BEGIN
			SET @MSG = 'Contato não encontrado.'
		RETURN
	END

END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarID]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarID]

	@ID INT,
		@MSG VARCHAR(50) OUTPUT

AS
BEGIN

	IF EXISTS (SELECT * FROM CONTATOS WHERE ID = @ID)
		BEGIN
			SELECT * FROM CONTATOS WHERE ID = @ID
		RETURN
	END

	ELSE
		BEGIN
			SET @MSG = 'ID não encontrado'
		RETURN
	END

END
GO
/****** Object:  StoredProcedure [dbo].[spBuscarTudo]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spBuscarTudo]

AS
BEGIN

	SELECT * FROM CONTATOS

END
GO
/****** Object:  StoredProcedure [dbo].[spCadContato]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spCadContato]

	@NOME VARCHAR (50),
		@EMAIL VARCHAR (50),
			@CEL VARCHAR (50),
				@MSG VARCHAR (50) OUTPUT

AS
BEGIN

	IF EXISTS (SELECT * FROM CONTATOS WHERE EMAIL = @EMAIL)
		BEGIN
			SET @MSG = 'E-mail já cadastrado.'
		RETURN
	END

	ELSE
		BEGIN
			INSERT INTO CONTATOS (NOME, EMAIL, CEL) VALUES (@NOME, @EMAIL, @CEL)
			SET @MSG = 'Contato cadastrado.'
		RETURN
	END

END
GO
/****** Object:  StoredProcedure [dbo].[spDelContato]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spDelContato]

	@ID INT,
		@MSG VARCHAR (50) OUTPUT

AS
BEGIN

	DELETE FROM CONTATOS WHERE ID = @ID
	SET @MSG = 'Contato excluído.'

END
GO
/****** Object:  StoredProcedure [dbo].[spEditarContato]    Script Date: 04/05/2021 10:42:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spEditarContato]

	@ID INT,
		@NOME VARCHAR (50),
				@EMAIL VARCHAR (50),
						@CEL VARCHAR (50),
								@MSG VARCHAR (50) OUTPUT

AS
BEGIN

	IF EXISTS (SELECT * FROM CONTATOS WHERE EMAIL = @EMAIL)
		BEGIN
			SET @MSG = 'E-mail já cadastrado.'
		RETURN
	END

	ELSE
		BEGIN
			IF @NOME <> ''
				UPDATE CONTATOS SET NOME = @NOME WHERE ID = @ID

			IF @EMAIL <> ''
				UPDATE CONTATOS SET EMAIL = @EMAIL  WHERE ID = @ID

			IF @CEL <> ''
				UPDATE CONTATOS SET CEL = @CEL WHERE ID = @ID

			IF @NOME = '' AND @EMAIL = '' AND @CEL = ''
				SET @MSG = 'Nenhuma mudança realizada.'
			ELSE
				SET @MSG = 'Edição concluída.'
		RETURN
	END
END
GO
USE [master]
GO
