.divPost {
margin: 0px;
padding: 0px;

    main {
        height: 100%;
        width: 70%;
        justify-content: center;
        text-align: center;
        margin: 0 auto 0 auto;
        padding-top: 5%;
        box-shadow: 0 0 0.5em black;
        background-color: #E4E8EB;

        .divMain {
            display: flex;
            flex-direction: row;
            margin: auto auto auto auto;

            .divPost {
                flex-direction: column;

                h1 {
                    font-size: 300%;
                }
    
                img {
                    max-width: 80%;
                }

                .divTextPink {
                    p {
                        width: 70%;
                        text-indent: 3ch;
                        display: inline-block;
                        text-align: left;
                    }
                }

                .espacoLink {
                    margin-top: 10%;
                }
            }
    
            .divRelacao {
                display: flex;
                flex-direction: column;
                width: 9%;
                height: 100%;
                right: 0;
                position: fixed;

                h3 {
                    color: white;
                }

                .itemRelacao {
                    right: 0;
                    z-index: +1;
                    border-style: solid;
                    border-width: 2px;

                    a {
                        color: #E4E8EB;
                        font-size: medium;
                        font-weight: 900;
                        text-decoration: none;
                        text-transform: none;

                    }

                    img {
                        max-width: 100%;
                        margin: auto;
                    }
                }
            }
        }
    }
}