#divTxt {
    display: flex;
    flex-direction: column;
    width: 100%;

    h1 {
        background: linear-gradient(to right, #E4E8EB , #9fa3a6, #E4E8EB);
    }

    textarea {
        resize: vertical;
        width: 80%;
        max-width: 80%;
        height: 70px;
        min-height: 70px;
        margin: auto;
    }

    button {
        width: 10%;
        height: 10%;
        margin: auto;
        margin-top: 2%;
        cursor: pointer;
    }
}