.dailyItem {
    padding: 0;

    a {
        margin-top: 2%;
        display: flex;
        flex-direction: row;
        height: 70%;
        text-decoration: none;
        color: black;
        border-radius: 8px;

        &:hover {
            background: linear-gradient(to right, #E4E8EB , #FB322E, #E4E8EB);
        }
    
        .dailyText {
            width: 50%;
            margin: auto;

            p {
                width: 80%;
                margin: auto;
                font-family: 'Monoton', cursive;
                font-size: xx-large;
            }
        }

        .divDailyImage {
            width: 50%;

            .rockInRioLogo {
                max-width: 40%;
            }

            .strokesLogo {
                max-width: 40%;
            }

            .radioHeadName {
                padding: 15% 0 15% 0;
            }

            img {
                display: flex;
                margin: auto;
                max-width: 60%;
                border-radius: 8px;
            }
        }
    }
}