html {
    background-color: #000000;
    
    body {
        margin: 0;
        height: 100%;
        background-image: url("./Contents/Img/PinkFloydWpp.jpg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 50%;
    }
}