#PageHome {
display: flex;
flex-direction: column;
margin: 0px;
padding: 0px;

    main {
        width: 70%;
        height: 100%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        padding-top: 5%;
        box-shadow: 0 0 0.5em black;
        background-color: #e4e8eb;
    }
}