html {
    background-color: #151515;
    
body {
    margin: 0;
    height: 100%;
    background-image: url("https://rollingstone.uol.com.br/media/_versions/dark_side_of_the_moon_cortada_reproducao_widelg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    #PageHome {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;

        header {
            display: flex;
            flex: row;
            gap: 15%;
            top: 0;
            height: 10%;
            width: 100%;
            position: fixed;
            background-color: black;
            z-index: 999;
            justify-content: center;
            text-align: center;
            align-items: center;

            a {
                text-decoration: none;
                color: #E4E8EB;
                border-radius: 50px;
                border-style: solid;
                border-width: 1px;
                padding: 10px;
                font-size: 110%;
                border-color: transparent;

                &:hover {
                    border-color: #E4E8EB;
                    box-shadow: 0 0 0.5em #E4E8EB;
                    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                }
            }
        }

        main {
            width: 70%;
            height: 100%;
            justify-content: center;
            text-align: center;
            margin: 0 auto;
            padding-top: 5%;
            box-shadow: 0 0 0.5em black;
            background-color: #e4e8eb;
        }

        footer {
            display: flex;
            flex: row;
            gap: 5%;
            padding: 2% 0 2% 0;
            bottom: 0;
            position: relative;
            width: 100%;
            height: 100px;
            text-align: center;
            align-items: center;
            justify-content: center;
    
            a {
                text-decoration: none;
                color: #E4E8EB;
                border-radius: 50px;
                border-style: solid;
                border-width: 1px;
                padding: 10px;
                font-size: 110%;
                border-color: transparent;

                &:hover {
                    border-color: #E4E8EB;
                    box-shadow: 0 0 0.5em #E4E8EB;
                    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
                }
            }
        }
    }
}
}